@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Source Sans Pro", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Roboto Slab", "Arial Black", sans-serif;
}
