---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Gear - Andrew Monty">
  <main class="p-8 mx-auto">
    <article
      class="mx-auto prose prose-natural dark:prose-invert [&_img]:rounded-lg [&_img]:border-2 [&_img]:border-muted [&_img]:cursor-zoom-in [&_h2]:font-display [&_h2]:font-semibold">
      <h1 class="not-prose mb-8 text-2xl font-display dark:text-neutral-200">
        <a href="/" class="font-bold hover:underline text-muted-foreground">Andrew Monty</a>
        <span class="font-mono text-muted">/</span>
        Gear
      </h1>

      <p>One thing about me is I love me some gadgets and tools</p>

      <h2>MacBook Air M2 13"</h2>
      <p>This little guy has been such a work horse.</p>
      <p>
        As much as I want to experiment with linux, I can't bring myself to give
        up the portability and excellent battery life.
      </p>

      <h2>Totem Keyboard</h2>
      <p>
        The mechanical keyboard rabbit hole is deep. I've tried a bunch of
        different styles and form factors, the Totem has been my longest running
        daily driver.
      </p>

      <h2>Nothing Ear Open</h2>
      <p>
        Never found a set of Airpods - or in-ear buds in general - that either
        stayed in my ears, or felt comfortable to wear. These are a game
        changer, I forget I'm wearing them sometimes.
      </p>

      <h2>Raycast</h2>
      <p>
        Getting into software, I don't know how to use a computer without Raycast anymore. It's my app launcher, window manager, clipboard history, hue lights controller...
      </p>
      <img src="/assets/raycast.png" />
    </article>
  </main>
</BaseLayout>
