---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <main class="min-h-dvh p-8 max-w-2xl mx-auto flex flex-col justify-center">
    <section
      class="prose prose-lg prose-neutral dark:prose-invert prose-a:font-medium">
      <div
        class="flex flex-col sm:flex-row-reverse justify-between gap-4 flex-wrap">
        <div class="flex gap-3 flex-wrap">
          <a href="/resume">Resumé</a>
          <a href="/work">Work</a>
        </div>
        <h1 class="text-4xl mb-0 font-display dark:text-neutral-200">
          Andrew Monty
        </h1>
      </div>

      <div class="mt-6 flex items-center gap-2">
        <span class="flex text-sm rounded-full border border-zinc-600">
          <span class="px-2 py-0.5">designer</span>
          <div class="w-px bg-zinc-600 inset-y-0 transform -skew-12"></div>
          <span class="px-2 py-0.5">developer</span>
          <div class="w-px bg-zinc-600 inset-y-0 transform -skew-12"></div>
          <span class="px-2 py-0.5">devops</span>
          <div class="w-px bg-zinc-600 inset-y-0 transform -skew-12"></div>
          <a href="https://amplinks.app" class="px-2 py-0.5">@Amplinks</a>
        </span>
      </div>

      <p>
        Started tinkering with the web by customizing my myspace page, and made
        a career of it! I love how open and approachable the web is, it's so
        easy to get some pixels on a screen, but also incredibly powerful!
      </p>

      <p>
        Laravel + Livewire have a special place in my heart, but I can learn to
        love any stack. Really enjoying Astro lately 🚀.
      </p>

      <p>
        In my free time I enjoy getting lost in an immersive rpg, tinkering with <a
          href="https://github.com/AndrewMonty/zmk-config-totem">keyboards</a
        >, and dogs! Gilly volunteers at the library and
        <a
          href="https://public.tableau.com/shared/XXKKT25DK?:display_count=y&:origin=viz_share_link&:embed=y">
          competes in toss & fetch
        </a>
        .
      </p>
    </section>
  </main>
</BaseLayout>
