<div class="prose prose-neutral dark:prose-invert prose-a:font-semibold">
    <h2>About me</h2>

    <p>
        Trained in graphic and web design, I transitioned to coding, using
        my design skills to enhance user experiences. I enjoy both front
        and backend coding, primarily working with PHP, JavaScript,
        and CSS. Familiar with various frameworks and tools, my favorite
        by far is the <a href="https://tallstack.dev">TALL stack</a>.
    </p>

    <p>
        In my free time, I enjoy training and playing with my dogs,
        playing games, trivia nights at breweries, and binge-watching
        shows with my partner.
    </p>
</div>
